# IDE & OS
.idea/
*.iml
.DS_Store
Thumbs.db

# Flutter / Dart
**/build/
**/.dart_tool/
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/

# Go & Environment
backend/.env
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Node / Database / Docker
*.log
